<app-menu></app-menu>
<style>
    input { margin-left: 10px;}
</style>

<h3>Edit Product "{{product.partNbr}}"</h3>

<span style="color:red">{{errorMessage}}</span>

<form [formGroup]="productForm"
        (submit)="onSubmit()">
    
    <table>

        <tr>
            <td>PartNbr:</td>
                <td><input formControlName="partNbr" name="partNbr" id="partNbr" type="text"></td>
            </tr>
        <br>
        <tr>
            <td>Name: </td>
                <td><input formControlName="name" name="name" id="name" type="text"></td>
        </tr>   
         <br>
        <tr>
            <td>Price:</td>
                <td><input formControlName="price" name="price" id="price" type="text"></td>
            </tr>
        <br>    
        <tr>
            <td>Unit:</td>
                <td><input formControlName="unit" name="unit" id="unit" type="text"> </td>
            </tr>
        <br>
        <tr>
            <td>Photopath: </td>
                <td><input formControlName="photoPath" name="photoPath" id="photoPath" type="text"> </td>
        </tr>
        <br>
        <tr>
            <td>VendorID:</td>
            <td><input formControlName="vendorId" name="vendorId" id="vendorId" type="text"> </td>
            </tr>
        <br>

    <tr>
        <td><button>Submit</button></td>
    <td><button routerLink="/product-list" >Cancel</button></td>
    </tr>
</table>

</form>

